* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------------Layout---------------------------------------------------*/

/*--------Side bar and its elements---------------------*/

#sidebar li {
  list-style-type: none;
}

#sidebar img {
  width: 100%;
  padding: 10%;
  display: block;
  user-select: none;
}

/*------End of side bar and its elements---------------*/

/*------Main layout elements---------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
}

#sidebar {
  width: 5%;
  height: 100vh;
  background-color: rgb(0, 255, 0);
}

/*----Home page and its elements--------*/

#home_page {
  width: 95%;
  background-color: pink;
  display: flex;
}

#home_main {
  width: 75%;
  background-color: red;
}

#home_main_bubble {
  height: 85%;
  background-color: royalblue;
  position: relative;
  overflow: auto;
}

#home_main_bubble::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

#home_main_bubble::-webkit-scrollbar-track {
  background: white;
  border-radius: 15px;
}

#home_main_bubble::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 15px;
}

#home_main_bubble::-webkit-scrollbar-corner {
  display: none;
}

#home_main_bubble::-webkit-scrollbar-thumb:hover {
  background: rgb(7, 44, 7);
}

#home_main_footer {
  height: 15%;
  background-color: sienna;
  display: flex;
}

#plus_button {
  background-color: red;
  height: 75%;
  width: calc(85vh * 0.15 * 0.75);
  border-radius: 50%;
  position: relative;
  margin: auto;
}

#plus_button img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#plus_button img:hover {
  background-color: rgb(102, 7, 26);
  border-radius: 50%;
  cursor: pointer;
}

#deadline_panel {
  width: 25%;
  background-color: rosybrown;
}

/*--End of home page and its elements-----*/

/*-------Calendar page and its elements----*/

#calendar_page {
  width: 95%;
  background-color: darkgoldenrod;
  display: none;
}

/* End of calendar page and its elements---*/

/*------Statistics page and its elements---*/

#statistics_page {
  width: 95%;
  background-color: deeppink;
  display: none;
}

/*-End of statistics page and its elements--*/

/*-------End of main layout elements--------------------*/

/*--------------------End of Layout------------------------------------------------------------*/
