* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tooltip {
  position: absolute;
  background-color: white;
  padding: 0.5em;
  z-index: 3;
  border: 0.1rem solid black;
  display: none;
}

/*------------------------------Layout---------------------------------------------------*/

/*--------Side bar and its elements---------------------*/

/*#sidebar li {
  list-style-type: none;
  float: right;
}*/

#sidebar img {
  width: 100%;
  padding: 10%;
  display: block;
  user-select: none;
  float: left;
}

.sidebar{
  margin: 0;
  padding: 0;

  float: left;
  font-family:Arial, Helvetica, sans-serif;
  position: fixed;

  top: 0;
  left: 0;
  width: 75px;
  height: 100%;

  z-index: 999;

  background-color: rgb(0, 85, 85);
  /*border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;*/
  filter: drop-shadow(10px 10px 5px #5e5e5e);

  overflow: hidden;
  white-space: nowrap;

  transition: .2s ease;
}

.sidebar:hover{
  width: 270px;
}

.sidebar .side-item{
  padding: 10px;
}

.sidebar .side-item:hover{
  /*background: rgb(0, 128, 128);*/
  cursor: pointer;
}

.sidebar .side-item .fas{
  font-size: 50px;
  width: 60px;
  padding-right: 75px;
}


/*------End of side bar and its elements---------------*/

/*------Main layout elements---------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(255, 255, 190);
  background-size: 40px 40px;
  background-image:
  linear-gradient(to right, rgb(201, 201, 201) 1px, transparent 1px),
  linear-gradient(to bottom, rgb(201, 201, 201) 1px, transparent 1px);
}

/*----Home page and its elements--------*/

#home_page {
  width: calc(100vw - 60px);
  display: flex;
}

#home_main {
  width: calc(100% - 20em);
}

#home_main_bubble {
  height: 85%;
  /*background-color: white;*/
  position: flex;
  overflow: auto;
  /*border: 2px black solid;*/
}

/*#home_main_footer {
  height: 15%;
  background-color: white;
  display: flex;
}

#plus_button {
  background-color: rgb(182, 241, 241);
  height: 75%;
  width: calc(85vh * 0.15 * 0.75);
  border-radius: 50%;
  border: none;
  margin: auto;
  cursor: pointer;
  background-image: url("./images/plus.png");
  background-size: contain;
  background-position: center center;
}

#plus_button:hover {
  background-color: rgb(130, 190, 190);
}*/

#deadline_panel {
  width: 20em;
  height: 50vh;
  padding: 2em 2em;
  margin-top: 1%;
  overflow: auto;
  background-color: rosybrown;
  filter: drop-shadow(10px 10px 5px #5e5e5e);
}

#deadline_panel h2 {
  text-align: center;
}

#deadline_list li button {
  cursor: pointer;
}

#undo_btn {
  background-image: url("./images/undo.png");
  background-color: white;
  border: none;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin-top: 1em;
  opacity: 0.5;
}

/*--End of home page and its elements-----*/

/*-------Calendar page and its elements----*/

#calendar_page {
  width: calc(100vw - 60px);
  height: 100%;
  display: none;
  overflow: auto;
}

#calendar {
  width: 80%;
  height: 80%;
  margin: 1em auto;
}

/* End of calendar page and its elements---*/

/*-------End of main layout elements--------------------*/

/*--------------------End of Layout------------------------------------------------------------*/

/*---------------------Media Queries-----------------------------------------------------------*/

@media (max-width: 600px) {
  #home_page {
    flex-direction: column;
    width: 85%;
    height: 200vh;
    overflow: auto;
  }

  #calendar_page {
    width: 85%;
    height: 200vh;
  }

  #calendar {
    min-width: 25rem;
    margin: 1em;
  }

  #statistics_page {
    width: 85%;
    height: 200vh;
  }

  #sidebar {
    width: 15%;
    height: 200vh;
  }

  #home_main {
    width: 100%;
    height: 100vh;
  }

  #home_main_bubble {
    height: 85vh;
  }

  #home_main_footer {
    height: 15vh;
  }

  #deadline_panel {
    width: 100%;
    height: 100vh;
  }
}

/*------------------End of Media Queries-------------------------------------------------------*/
